<launch>
  <arg name="camera" default="icube" />

  <group ns="bsv_camera_$(arg camera)">
    <node pkg="bsv_receptors" type="vr_camera" name="vr_camera_$(arg camera)">
      <rosparam>
        subscriber: /icube/image_raw
        publisher: camera_icube_object_position
        view: true
        fx: 1331.971647
        fy: 1334.068418
        cx: 606.723712
        cy: 420.772425
      </rosparam>
    </node>
  </group>

</launch>
